
@{
    double? total = ViewData["totalThisMonth"] as double?;
}

<div id="gastoTotal">
    <h3>Total gastado:</h3>
    <p>u$d @total</p>
</div>

<style>
    #gastoTotal {
        background: var(--gradient-primary);
        border-radius: 8px;
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: block;
    }

        #gastoTotal H3 {
            color: var(--color-neutral-900);
            margin-bottom: .5rem;
        }

        #gastoTotal p {
            background-color: var(--color-neutral-900);
            color: var(--color-neutral-100);
            text-align: center;
            border-radius: 6px;
            font-weight: 600;
            padding: .5rem 2rem;
            margin: auto;
        }
</style>