<form asp-action="Logout"
      asp-controller="Usuario"
      class="logout-form"
      method="post">
    <button type="submit" class="btn-logout">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </button>
</form>