@using Domain.Pagos
@using Domain.Usuarios

@model Recurrente

@{
    IEnumerable<TipoDeGasto>? tiposDeGastoEnSistema = ViewData["tiposDeGastoEnSistema"] as IEnumerable<TipoDeGasto>;
    Usuario? usuario = ViewData["usuario"] as Usuario;
}


@if (tiposDeGastoEnSistema != null)
{
    <form class="form-pago">

        <input id="typeOfPayment" name="typeOfPayment" value="recurrente" type="hidden" />

        <div class="flex-row">
            <div>
                <label for="MontoInicial">Monto cuota</label>
                <input id="MontoInicial" name="MontoInicial" type="number" step="0.01" min="0" required />
            </div>
            <div>
                <label for="Metodo">Método de Pago</label>
                <select id="Metodo" name="Metodo" required>
                    <option value="">-</option>
                    @foreach (MetodoDePago metodoDePago in Enum.GetValues(typeof(MetodoDePago)))
                    {
                        <option value="@metodoDePago">@metodoDePago</option>
                    }
                </select>

            </div>
        </div>

        <label for="TipoGastoId">Tipo de gasto</label>
        <select id="TipoGastoId" name="TipoGastoId" required>
            <option value="">Tipo de gasto</option>
            @foreach (TipoDeGasto tipoDeGasto in tiposDeGastoEnSistema)
            {
                <option value="@tipoDeGasto.Id">@tipoDeGasto.Nombre</option>
            }
        </select>


        <label for="Descripcion">Descripción</label>
        <input id="Descripcion" name="Descripcion" type="text" required />

        <label for="PrimerPago">Fecha de pago</label>
        <input id="PrimerPago" name="PrimerPago" type="date" required />

        <div class="field-row">
            <label for="esIndefinida">Compra indefinida</label>
            <div class="toggle">
                <input type="checkbox" id="esIndefinida" name="esIndefinida" hidden>
                <label for="esIndefinida" class="toggle-btn"></label>
            </div>
        </div>


        <label for="cuotas" id="cuotas-label">Numero cuotas</label>
        <input name="cuotas" id="cuotas" type="number"/>

        <button type="submit">Agregar</button>
    </form>
}
else
{
    <h4>No hay tipos de gasto en sistema.</h4>
}

<script>
    const cuotasField = document.querySelector("#cuotas");
    const cuotasFieldLabel = document.querySelector("#cuotas-label");

    document.getElementById("esIndefinida").addEventListener("change", (e) => {
        const checkbox = e.target;
        
        if (checkbox.checked) {
            cuotasField.disabled = true;
            cuotasField.style.display = 'none';
            cuotasFieldLabel.style.display = 'none';
        } else {
            cuotasField.disabled = false;
            cuotasField.style.display = 'block';
            cuotasFieldLabel.style.display = 'block';
        }
        
    })
</script>


<style>
    .field-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 8px 0;
    }

    .toggle-btn {
        display: inline-block;
        background: #ccc;
        border-radius: 20px;
        width: 60px;
        height: 30px;
        position: relative;
        cursor: pointer;
        transition: background 0.3s;
    }

        .toggle-btn::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: white;
            transition: transform 0.3s;
        }

    #esIndefinida:checked + .toggle-btn {
        background: var(--color-primary-500);
    }

        #esIndefinida:checked + .toggle-btn::after {
            transform: translateX(30px);
        }


</style>