@using Domain.Pagos
@using webApp.DTO
@using webApp.ViewModels
@model PagoViewModel

@{
    ViewData["Title"] = "Mis Pagos";
}
<div class="flex-row">

    <section>
        @if (Model.TiposDeGastoEnSistema != null)
        {
            <div class="PaymentTypeSelector">
                <label for="paymentSelection">Tipo de pago:</label>
                <select id="paymentSelection">
                    <option value="unico">Pago único</option>
                    <option value="cuotas">Pago en cuotas</option>
                    <option value="subscripcion">Pago subscipcion</option>
                </select>
            </div>

            <div id="payment-unico">
                <partial name="components/_createFormUnico" />
            </div>
            <div id="payment-cuotas" style="display:none">
                <partial name="components/_createFormCuotas" />
            </div>

            <div id="payment-subscripcion" style="display:none">
                <partial name="components/_createFormSubscripcion" />
            </div>
        }
        else
        {
            <h4>No hay sistemas de gasto en sistema.</h4>
        }
    </section>

    <section class="section-table">
        <partial name="components/_expensesChart" model="Model.TotalsLastMonths" />
        @if (Model.PagosDelMes != null)
        {
            <partial name="_GastoDisplay" model="Model.MonthExpenses" />
            <partial name="components/_gastoTable" model="Model.PagosDelMes" />
        }
        else
        {
            <p>No hay gastos para este mes.</p>
        }
    </section>



</div>

@section Scripts {
    <script type="module">
        import { initPagosPage } from '/js/pages/pagos.js';
        initPagosPage();
    </script>
}