@using Domain.Pagos
@using webApp.DTO
@using webApp.ViewModels
@model PagoViewModel

@{
    ViewData["Title"] = "Mis Pagos";
}
<div class="flex-row">

    <section>
        @if (Model.TiposDeGastoEnSistema != null)
        {
            <div class="PaymentTypeSelector">
                <label for="paymentSelection">Tipo de pago:</label>
                <select id="paymentSelection">
                    <option value="unico">Pago único</option>
                    <option value="cuotas">Pago en cuotas</option>
                    <option value="subscripcion">Pago subscipcion</option>
                </select>
            </div>

            <div id="payment-unico">
                <partial name="components/_createFormUnico" />
            </div>
            <div id="payment-cuotas" style="display:none">
                <partial name="components/_createFormCuotas" />
            </div>

            <div id="payment-subscripcion" style="display:none">
                <partial name="components/_createFormSubscripcion" />
            </div>
        }
        else
        {
            <h4>No hay sistemas de gasto en sistema.</h4>
        }
    </section>

    <section class="section-table">
        <partial name="components/_expensesChart" model="Model.TotalsLastMonths" />
        @if (Model.PagosDelMes != null)
        {
            <partial name="_GastoDisplay" model="Model.MonthExpenses" />
            <partial name="components/_gastoTable" model="Model.PagosDelMes" />
        }
        else
        {
            <p>No hay gastos para este mes.</p>
        }
    </section>



</div>


@section Scripts {

    <script type="module">
        import { addRowToTable } from '/js/formFunctions.js';
        console.log(document.querySelectorAll(".form-pago").length);
        document.querySelectorAll(".form-pago").forEach(form => {
            form.addEventListener("submit", async (e) => {
                e.preventDefault();

                const formData = new FormData(form);
                const button = form.querySelector("button");

                button.disabled = true;
                button.innerHTML = '<i class="fa-solid fa-spinner fa-spin"></i> Agregando...';

                await new Promise(r => setTimeout(r, 750));

                try {
                    const res = await fetch("/Pago/Create", {
                        method: "POST",
                        body: formData
                    });

                    if (!res.ok) {
                        toast("Error en la solicitud al servidor", "error");
                        button.disabled = false;
                        button.textContent = "Agregar";
                        return;
                    }

                    const result = await res.json();
                    if (result.state === "error") {
                        toast("Error al procesar el pago", "error");
                        button.disabled = false;
                        button.textContent = "Agregar";
                        return;
                    }
                    console.log(result);
                    toast("Pago procesado correctamente", "success");

                    form.reset();
                    button.disabled = false;
                    button.textContent = "Agregar";

                    const mesActual = new Date().getMonth() + 1
                    if (formData.get("FechaDePago")?.split("-")[1] == mesActual || formData.get("PrimerPago")?.split("-")[1] == mesActual){
                        const tbody = document.querySelector('table tbody');
                        const newRowHtml = `
                            <td>${result.descripcion}</td>
                            <td>${result.tipoDeGasto}</td>
                            <td>${result.tipoDePago}</td>
                            <td>${result.metodo}</td>
                            <td>${result.fechaPago}</td>
                            <td>${result.montoTotal}</td>
                        `;
                        addRowToTable(tbody, newRowHtml);

                        // Update total
                        const totalField = document.querySelector("#expenses");
                        const Voriginal = Number(totalField.textContent);
                        const montoNuevo = Number(result.montoTotal);
                        const Vactual = (Voriginal + montoNuevo).toFixed(2);
                        totalField.textContent = Vactual;

                        // Update chart
                        if (window.expensesChart && result.fechaPago) {
                            const fecha = new Date(result.fechaPago);
                            const mesNumero = fecha.getMonth();

                            const meses = ["ene.", "feb.", "mar.", "abr.", "may.", "jun.", "jul.", "ago.", "set.", "oct.", "nov.", "dic."];
                            const mesLabel = meses[mesNumero];

                            const chart = window.expensesChart;
                            const index = chart.data.labels.indexOf(mesLabel);

                            if (index !== -1) {
                                chart.data.datasets[0].data[index] += Number(result.montoTotal);
                                chart.update();
                            }
                        }
                    }


                } catch (err) {
                    console.error("Error enviando el formulario:", err);
                    toast("Error de conexión o del servidor", "error");
                    button.disabled = false;
                    button.textContent = "Agregar";
                }
            });
        });

        // select tipo de pago
           const paymentUnicoForm = document.getElementById("payment-unico");
           const paymentCuotasForm = document.getElementById("payment-cuotas");
           const paymentSubscripcionForm = document.getElementById("payment-subscripcion");

           const formsMap = {
               unico: paymentUnicoForm,
               cuotas: paymentCuotasForm,
               subscripcion: paymentSubscripcionForm
           };

           document.getElementById("paymentSelection").addEventListener("change", (e) => {
               const value = e.target.value;

               // Hide all
               Object.values(formsMap).forEach(form => {
                   if (form) form.style.display = "none";
               });

               // Show selected
               if (formsMap[value]) {
                   formsMap[value].style.display = "block";
               }
           });
    </script>
}