
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />


    <link rel="icon" type="image/x-icon" href="~/favicon.svg" />
</head>

<body class="login">
    <div class="login-container">
        <img src="~/assets/Logo.svg" alt="Logo" />
        <h3>Gestor de pagos</h3>
        <form method="post">
            <label for="email">Correo electrónico</label>
            <input id="email" type="text" name="userEmail" placeholder="NicolaTesla@LaEmpresa.com" />

            <label for="password">Contraseña</label>
            <div class="password-wrapper">
                <input id="password" type="password" name="password" placeholder="Su contraseña" />
                <span class="toggle-password">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>

            <p>@ViewBag.msg</p>
            <button type="submit">Ingresar</button>
        </form>

    </div>

    <script>
        const toggleBtn = document.querySelector('.toggle-password');
        const passwordInput = document.querySelector('#password');
        const toggleIcon = toggleBtn.querySelector('i');

        toggleBtn.addEventListener('click', () => {
            const isHidden = passwordInput.type === 'password';
            passwordInput.type = isHidden ? 'text' : 'password';
            toggleIcon.classList.toggle('fa-eye');
            toggleIcon.classList.toggle('fa-eye-slash');
        });
    </script>

    <style>
        .password-wrapper {
            position: relative;
            width: 100%;
        }

            .password-wrapper input {
                width: 100%;
                padding-right: 2.5rem;
            }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 0.6rem;
            transform: translateY(-50%);
            background: none;
            border: none;
            color: #aaa;
            cursor: pointer;
            font-size: 1rem;
            padding: 0.25rem;
        }

            .toggle-password:hover {
                color: #fff;
            }

            .toggle-password i {
                pointer-events: none;
                margin-bottom: .75rem;
            }
    </style>
</body>
</html>
