@using Domain.Pagos
@using Domain.Pagos.tipos
@using Domain.Usuarios

@model PagoViewModel

<form class="form-pago">

    <input id="typeOfPayment" name="typeOfPayment" value="cuotas" type="hidden" />

    <div class="flex-row">
        <div>
            <label for="MontoInicial">Monto cuota</label>
            <input id="MontoInicial" name="MontoInicial" type="number" step="0.01" min="0" required />
        </div>
        <div>
            <label for="Metodo">Método de Pago</label>
            <select id="Metodo" name="Metodo" required>
                <option value="">-</option>
                @foreach (MetodoDePago metodoDePago in Enum.GetValues(typeof(MetodoDePago)))
                {
                    <option value="@metodoDePago">@metodoDePago</option>
                }
            </select>

        </div>
    </div>

    <label for="TipoGastoId">Tipo de gasto</label>
    <select id="TipoGastoId" name="TipoGastoId" required>
        <option value="">Tipo de gasto</option>
        @foreach (TipoDeGasto tipoDeGasto in Model.TiposDeGastoEnSistema)
        {
            <option value="@tipoDeGasto.Id">@tipoDeGasto.Nombre</option>
        }
    </select>


    <label for="Descripcion">Descripción</label>
    <input id="Descripcion" name="Descripcion" type="text" required />


    <div class="flex-row">
        <div>
            <label for="PrimerPago">Fecha de pago</label>
            <input id="PrimerPago" name="PrimerPago" type="date" required />
        </div>
        <div>
            <label for="cuotas" id="cuotas-label">Nro. cuotas</label>
            <input name="cuotas" id="cuotas" type="number" />
        </div>
    </div>

    <button type="submit">Agregar</button>
</form>
